.view {
  @apply max-w-7xl mx-auto px-2 pb-48 sm:px-6 lg:px-8;
}

.members {
  @apply pb-52 flex flex-wrap w-full mx-auto md:max-w-3xl lg:max-w-5xl;
}

.biography {
  @apply py-5;
  & h3 {
    @apply font-serif py-6 text-3xl;
  }
}
