/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

@tailwind base;
@tailwind components;

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&family=Montserrat:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

code {
  @apply text-primary;
}

.item {
  @apply h-60;
}

.card {
  & .thumbnail {
    & .layer {
      @apply hidden;
    }
  }
  & .thumbnail:hover {
    & .layer {
      @apply flex;
    }
  }
}

/* stylelint-disable */
@tailwind utilities;
/* stylelint-enable */
